[submodule "twerth-dotfiles"]
	path = twerth-dotfiles
	url = git://github.com/twerth/dotfiles.git
[submodule "iain-osx_settings"]
	path = iain-osx_settings
	url = git://github.com/iain/osx_settings.git
